---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
binaryData:
  serve.py.zip: |
    {{- .Files.Get "files/serve.py.zip" | b64enc | nindent 4 }}
data:
  vllm_config.yaml: |
    {{- tpl (.Values.vllm.config | toYaml) . | nindent 4 }}
