---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-env
type: Opaque
data:
  {{- $envMap := dict -}}
  {{- range $key, $val := .Values.vllm.env -}}
  {{- if ne $val nil -}}
    {{- $_ := b64enc $val | set $envMap $key -}}
  {{- end -}}
  {{- end -}}
  {{- $envMap | toYaml | nindent 2 }}
