---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vllm.fullname" . }}-service
  labels:
{{- include "vllm.labels" . | nindent 4 }}
{{- if .Values.labels }}
{{- toYaml .Values.labels | nindent 4 }}
{{- end }}
spec:
  selector:
    app.kubernetes.io/name: {{ include "vllm.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
