---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "gradio-ui.fullname" . }}-env
  labels:
{{- include "gradio-ui.labels" . | nindent 4 }}
{{- if .Values.labels }}
{{- toYaml .Values.labels | nindent 4 }}
{{- end }}
type: Opaque
data:
  {{- $envMap := dict -}}
  {{- range $key, $val := .Values.secret.env -}}
  {{- if ne $val nil -}}
    {{- $_ := b64enc $val | set $envMap $key -}}
  {{- end -}}
  {{- end -}}
  {{- $envMap | toYaml | nindent 2 }}
