apiVersion: v2
dependencies:
- condition: gradio-ui.enabled
  name: gradio-ui
  repository: file://charts/gradio-ui
  version: 1.0.0
- condition: gpu-operator.enabled
  name: gpu-operator
  repository: oci://cr.nemax.nebius.cloud/yc-marketplace/nebius/nvidia-gpu-operator/chart
  version: v23.9.0
description: A Helm chart for Kubernetes
name: vllm
type: application
version: 1.0.0