grafana:
  nebius:
    projectId: REPLACE WITH PROJECT ID
    accessToken: REPLACE WITH ACCESS TOKEN

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Nebius Monitoring
          type: prometheus
          access: proxy
          url: 'https://read.monitoring.api.eu.nebius.cloud/{{ .Values.nebius.projectId }}/service-provider/prometheus'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: false
          version: 1
        - name: Nebius Logging
          type: loki
          access: proxy
          url: 'https://read.logging.api.eu.nebius.cloud/projects/{{ .Values.nebius.projectId }}'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: false
          version: 1

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'nebius'
        orgId: 1
        folder: 'Nebius'
        type: file
        disableDeletion: true
        editable: true
        options:
          path: /var/lib/grafana/dashboards/nebius

  dashboards:
    nebius:
      prometheus-stats:
        gnetId: 1860  # https://grafana.com/dashboards/1860
        revision: 37
      vmagent:
        url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmagent.json
      clusterbytenant:
        url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/clusterbytenant.json
      backupmanager:
        url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/backupmanager.json
      victorialogs:
        url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victorialogs.json
      vmauth:
        url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmauth.json
