grafana:
  nebius:
    projectId: REPLACE WITH PROJECT ID
    accessToken: REPLACE WITH ACCESS TOKEN

  service:
    annotations:
      nebius.com/MarketplaceServiceAccess: title=Grafana,ssl=false,type=web,port=service

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Nebius Services
          type: prometheus
          access: proxy
          url: 'https://read.monitoring.api.nebius.cloud/projects/{{ .Values.nebius.projectId }}/service-provider/prometheus'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: true
          version: 1
        - name: Nebius Monitoring
          type: prometheus
          access: proxy
          url: 'https://read.monitoring.api.nebius.cloud/projects/{{ .Values.nebius.projectId }}/prometheus'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: false
          version: 1
        - name: Nebius Logging
          type: loki
          access: proxy
          url: 'https://read.logging.api.nebius.cloud/projects/{{ .Values.nebius.projectId }}'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: false
          version: 1

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'nebius'
        orgId: 1
        folder: 'Nebius'
        type: file
        disableDeletion: true
        editable: true
        options:
          path: /var/lib/grafana/dashboards/nebius

  dashboards:
    nebius:
      nebius-object-storage:
        gnetId: 23392  # https://grafana.com/dashboards/23392
        revision: 1
      nebius-shared-filesystems:
        gnetId: 23313  # https://grafana.com/dashboards/23313
        revision: 4
