grafana:
  nebius:
    projectId: REPLACE WITH PROJECT ID
    accessToken: REPLACE WITH ACCESS TOKEN

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Nebius Logging
          type: loki
          access: proxy
          url: 'https://read.logging.api.eu.nebius.cloud/projects/{{ .Values.nebius.projectId }}'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: false
          version: 1
        - name: Nebius Monitoring
          type: prometheus
          access: proxy
          url: 'https://read.monitoring.api.eu.nebius.cloud/{{ .Values.nebius.projectId }}/service-provider/prometheus'
          jsonData:
            httpHeaderName1: 'Authorization'
          secureJsonData:
            httpHeaderValue1: 'Bearer {{ .Values.nebius.accessToken }}'
          isDefault: false
          version: 1

  # DEBUG: deleteme
  adminUser: admin
  adminPassword: admin
