---
image:
  repository: cr.eu-north1.nebius.cloud/marketplace/nebius/ikargapolov-vllm/image/gradio-ui
  tag: v0.0.2

replicas: 1

enablePublicIP: false

env:
  - name: MODEL
    value: deepseek-ai/DeepSeek-R1

secret:
  env:
    AUTH_USER:
    AUTH_PASSWORD:
    BASE_URL: 'http://ikargapolov-vllm-serve-svc:8000/v1/'

resources:
  limits:
    cpu: "1"
    memory: "512Mi"
  requests:
    cpu: "{{ tpl .Values.resources.limits.cpu . }}"
    memory: "{{ tpl .Values.resources.limits.memory . }}"

livenessProbe:
  initialDelaySeconds: 5
  periodSeconds: 5
  failureThreshold: 5

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 5
  failureThreshold: 5

service:
  type: '{{ .Values.enablePublicIP | ternary "LoadBalancer" "ClusterIP" }}'
  port: 7860

affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        preference:
          matchExpressions:
          - key: nvidia.com/gpu.count
            operator: DoesNotExist
