{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ template "o11y-agent.appname" . }}-{{ .Release.Name }}
  labels:
    {{- include "o11y-agent.labels" . | nindent 4 }}
rules:
  - nonResourceURLs: [ "/metrics" ]
    verbs: [ "get" ]
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - nodes
      - nodes/proxy
      - pods
      - namespaces
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
{{- end }}

