---
kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    grafana_datasource: ""
  name: loki-datasource
data:
  loki-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://{{ .Release.Name }}-gateway.{{ .Release.Namespace }}.svc.cluster.local
        version: 1
        isDefault: false
        uid: loki
